<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @accommodation_category.name %>
</p>

<%= link_to 'Edit', edit_accommodation_category_path(@accommodation_category) %> |
<%= link_to 'Back', accommodation_categories_path %>
